.processo {
     grid-template-areas:
          ". . . project project project project project project . . ."
          ". . flow flow flow flow flow flow flow flow . ."
          ". . apont apont apont apont apont apont apont apont . ."
          ". . heal heal heal heal heal heal heal heal . ."
          ". . proj_heal proj_heal proj_heal proj_heal proj_heal proj_heal proj_heal proj_heal . ."
          ". . program program program program program program program program . ."
          ". . . meet meet meet meet meet meet . . .";
}

.projeto {
     grid-area: project;
}

.fluxo {
     grid-area: flow;
}

.apontamento {
     grid-area: apont;
}

.curadoria {
     grid-area: heal;
}

.projeto_curado {
     grid-area: proj_heal;
}

.programa {
     grid-area: program;
}

.reuniao {
     grid-area: meet;
     text-align: center;
     padding: 24px 0;
}



.projeto_curado img {
     width: 100%;
     border-radius: 8px;
}

.projeto_curado .sides {
     display: grid;
     grid-template-columns: 1.5fr 1fr;
     grid-template-rows: 1fr;
     
}

.projeto_curado p {
     margin-bottom: 80px;
     margin-left: 40px;
}

.programa a {
     border: 3px solid var(--black);
     color: var(--black);
}

.flex_sides {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr;
     gap: 2rem;
     grid-template-areas:
          "col1 col2";

}

.flex_sides h2 {
     background-color: var(--black);
     color: var(--white);
}

.flex_sides .col1 {
     grid-area: col1;
     padding: 0 32px;
     display: grid;
     place-items: center;
}

.flex_sides .col2 {
     grid-area: col2;
}

.flex_sides .col2 .list_col {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.list_col a {
     padding: 12px 24px;
     margin: 12px 0;
     color: var(--black);
     text-transform: uppercase;
     font-family: var(--fontfamily);
}

.reuniao a {
     padding: 12px 24px;
     margin: 12px 0;
     background-color: var(--black);
     color: var(--white);
     text-transform: uppercase;
     font-family: var(--fontfamily);
     font-size: var(--font-size-sm);
}