/* GRID */
.grid_passos {
     grid-template-areas:
          ". . welc welc welc welc welc welc welc welc . ."
          ". prga prga prga prga prga prga prga prga prga prga ."
          ". . oque oque oque oque oque oque oque oque . ."
          ". prgb prgb prgb prgb prgb prgb prgb prgb prgb prgb ."
          ". . . pass pass pass pass pass pass pass pass pass"
          "prim prim prim prim prim prim segu segu segu segu segu segu"
          ". . . seee seee seee seee seee seee seee seee seee";
}

.welcome {
     grid-area: welc;
}

.welcome img {
     width: 100%;
}

.paragraph_a {
     grid-area: prga;
     width: 100%;
}

.oque_fazemos {
     grid-area: oque;
     width: 100%;
}

.paragraph_b {
     grid-area: prgb;
     width: 100%;
}

.primeiros_passos {
     grid-area: pass;
     width: 100%;
}

.primeiro {
     grid-area: prim;
     width: 95%;
     height: 100%;
}

.segundo {
     grid-area: segu;
     width: 95%;
     height: 100%;
}

.medo {
     grid-area: medo;
     width: 100%;
}

.see_more {
     grid-area: seee;
     width: 100%;
}
/* grid  */


.paragraph_a p:last-child {
     margin-bottom: 0;
}

.paragraph_b p {
     text-align: center;
}

.primeiros_passos p {
     max-width: 485px;
     min-width: 250px;
     margin-top: var(--spacing-sm);
}

.segundo .cta-right::before {
     height: 60px;
}

.segundo .medo {
     margin-top: 100px;
     margin-bottom: 20px;
     font-size: 35px;
}

.see_more .cta-right::before {
     height: 60px;
}

