.header {
     display: flex;
     justify-content: space-between;
     width: 100%;
     align-items: center;
     margin: var(--spacing-md) auto;
}

.nav-options {
     display: flex;
     align-items: center;
     gap: var(--spacing-md);
}

.nav-item {
     display: inline-block;
     color: var(--black);
     text-align: center;
}

.nav-item.active,
.hamburger-item.active {
     color: var(--red);
}

.nav-item.active::before {
     position: relative;
     content: url("../../assets/navbar-active-dot.svg");
     color: var(--black) !important;
     top: 1em;
     left: 50%;
}

.sub-nav-btn {
     display: flex;
     align-items: center;
     gap: var(--spacing-xs);
}

/* hover stuff */
.sub-nav-content {
     display: none;
     color: var(--black);
     position: absolute;
     padding: var(--spacing-sm);
     margin-top: var(--spacing-xs);
     border-left: 2px solid var(--black);
}

.sub-nav:hover .sub-nav-content {
     display: flex;
     flex-direction: column;
     gap: var(--spacing-md2);
}

.nav-item:hover,
.sub-nav-item:hover {
     color: var(--red);
}

.sub-nav:hover {
     color: var(--red);
}









/* hamburger stuff */
.hamburger-menu {
     position: absolute;
     top: var(--spacing-md);
     right: 10%;
     display: none;
}

.hamburger-options {
     display: none;
}

.sub-hamburger {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
}

.sub-hamburger-content {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     gap: var(--spacing-sm);
     margin: var(--spacing-sm);
     padding: var(--spacing-sm);
     border-right: 2px solid var(--black);
}

/* hamburger hover stuff */

.hamburger-menu:hover .hamburger-options {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     gap: var(--spacing-sm);
     padding: var(--spacing-sm);
     margin: var(--spacing-sm);
     border-right: 2px solid var(--black);
}

.hamburger-item::before,
.sub-hamburger-item::before {
     visibility: hidden;
     display: block;
     content: '';
     border-bottom: 2px solid var(--black);
     position: relative;
     top: 1.5rem;
     left: 50%;
     /* para cobrir apenas a metade da direita */
     width: 50%;
     z-index: -1;
}

.hamburger-item:hover::before,
.sub-hamburger-item:hover::before {
     visibility: visible;
}



/* hamburger stuff */
.hamburger-menu {
     position: absolute;
     top: var(--spacing-md);
     right: 10%;
     display: none;
}

.hamburger-options {
     display: none;
}

.sub-hamburger {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
}

.sub-hamburger-content {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     gap: var(--spacing-sm);
     margin: var(--spacing-sm);
     padding: var(--spacing-sm);
     border-right: 2px solid var(--black);
}

/* hamburger hover stuff */

.hamburger-menu:hover .hamburger-options {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     gap: var(--spacing-sm);
     padding: var(--spacing-sm);
     margin: var(--spacing-sm);
     border-right: 2px solid var(--black);
}

.hamburger-item::before,
.sub-hamburger-item::before {
     visibility: hidden;
     display: block;
     content: '';
     border-bottom: 2px solid var(--black);
     position: relative;
     top: 1.5rem;
     left: 50%;
     /* para cobrir apenas a metade da direita */
     width: 50%;
     z-index: -1;
}

.hamburger-item:hover::before,
.sub-hamburger-item:hover::before {
     visibility: visible;
}



@media (max-width: 768px) {
     .nav-options {
          display: none;
     }

     .hamburger-menu {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          overflow-y: visible;
     }
}