.header {
     display: flex;
     justify-content: space-between;
     width: 100%;
     align-items: center;
     margin: var(--spacing-md) auto;
}

.nav-options {
     display: flex;
     align-items: center;
     gap: var(--spacing-md);
}

.nav-item {
     display: inline-block;
     color: var(--black);
     text-align: center;
}

.nav-item.active,
.hamburger-item.active {
     color: var(--red);
}

.nav-item.active::before {
     position: relative;
     content: url("../../assets/navbar-active-dot.svg");
     color: var(--black) !important;
     top: 1em;
     left: 50%;
}

.sub-nav-btn {
     display: flex;
     align-items: center;
     gap: var(--spacing-xs);
}

/* hover stuff */
.sub-nav-content {
     display: none;
     color: var(--black);
     position: absolute;
     padding: var(--spacing-sm);
     margin-top: var(--spacing-xs);
     border-left: 2px solid var(--black);
}

.sub-nav:hover .sub-nav-content {
     display: flex;
     flex-direction: column;
     gap: var(--spacing-md2);
}

.nav-item:hover,
.sub-nav-item:hover {
     color: var(--red);
}

.sub-nav:hover {
     color: var(--red);
}

.hamburger-menu .checkbox {
     position: absolute;
     display: block;
     height: 32px;
     width: 32px;
     top: 30px;
     right: 20px;
     z-index: 5;
     opacity: 0;
     cursor: pointer;
 }  

 .hamburger-menu .hamburger-lines {
     position: absolute;
     display: none;
     height: 26px;
     width: 32px;
     top: 30px;
     right: 20px;
     z-index: 2;
     flex-direction: column;
     justify-content: space-between;
 }
   
 .hamburger-menu .hamburger-lines .line {
     display: block;
     height: 4px;
     width: 100%;
     border-radius: 10px;
     background: var(--black);
 }  
 .hamburger-menu .hamburger-lines .line1 {
     transform-origin: 0% 0%;
     transition: transform 0.4s ease-in-out;
 }  
 .hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
     transform: rotate(45deg);
 }
 
 .hamburger-menu .hamburger-lines .line2 {
     transition: transform 0.2s ease-in-out;
 }  
 .hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
     transform: scaleY(0);
 }
 
 .hamburger-menu .hamburger-lines .line3 {
     transform-origin: 0% 100%;
     transition: transform 0.4s ease-in-out;
 }
 .hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
     transform: rotate(-45deg);
 }
 
 .hamburger-menu h3 {
     font-family: var(--fontfamily);
     letter-spacing: 0.02em;
     font-size: 22px;
     margin: 12px 0px ;
 }
 .hamburger-menu li {
     margin: 6px 0px ;
     font-size: 16px;
 }
 .hamburger-menu li a:hover {
     color: var(--white);
 }
 
 .hamburger-menu .hamburger-options {
     display: none;
     background-color: var(--orange);
     position: absolute;
     top: 0px;
     right: -100%;
     height: 100vh;
 }
 
 .hamburger-menu .hamburger-options.sticky {
     position: fixed;
 }

 .hamburger-options ul {
     margin: var(--spacing-md);
 }
  
 .hamburger-menu input[type="checkbox"]:checked ~ .hamburger-options {
     transform: translateX(0);
     transition: transform 0.2s ease-in-out;
     right: 0%;
 } 

 .hamburger-menu input[type="checkbox"]:not(:checked) ~ .hamburger-options {
     transform: translateX(100%);
     transition: transform 0.2s ease-in-out;
     right: 0%;
 }

 .hamburger-menu input[type="checkbox"] {
     display: none;
 }



@media (max-width: 768px) {
     .nav-options {
          display: none;
     }
    
    .hamburger-menu .hamburger-lines {
        display: flex;
    }

    .hamburger-menu input[type="checkbox"] {
        display: block;
    }

    .hamburger-menu .hamburger-options {
        display: block;  
    }
}