/* custom resets */
h1,
h2,
h3 {
     text-align: center;
     line-height: 1.2em;
     letter-spacing: 0.02em;
     font-family: var(--fontfamily);
     white-space: nowrap;
     color: var(--black);
}

h1 {
     font-size: var(--font-size-lg);
     margin: var(--margin1);
}

h2 {
     font-size: var(--font-size-md);
}

h3 {
     font-size: var(--font-size-sm);
}

p {
     font-size: var(--font-size-xs);
     line-height: 150%;
     color: var(--black);
     margin-bottom: var(--spacing-md);
}

button {
     background: none;
     color: inherit;
     border: none;
     font: inherit;
     cursor: pointer;
     outline: inherit;
}

a {
     text-decoration: none;
     color: var(--black);
}




/* espaços */
.padding1 {
     padding: var(--padding1);
}

.margin1 {
     margin: var(--margin1);
}
/* espaços */






.font-text {
     font-family: OpenDyslexic;
}

.font-title {
     font-family: MolotGTRR;
     font-size: var(--font-size-btn);
     font-weight: 400;
     letter-spacing: 2px;
}



.borda1 {
     border-radius: var(--border-radius-lg);
}

.borda2 {
     border-radius: var(--border-radius-md);
}

.highlight {
     padding: 0 4px;
     border-radius: var(--border-radius-md);
     background-color: var(--orange);
     display: inline;
}

.list-dot {
     list-style: inside;
     margin: 8px 0;
}

.flex-sides {
     display: flex;
     justify-content: space-between;
     flex-flow: row nowrap;
}

.center {
     text-align: center;
}

.left {
     text-align: left;
}

.right {
     text-align: right;
}

.white-border {
     color: var(--white);
     border: 2px solid var(--white);
     padding: 12px 24px;
     text-transform: uppercase;
}

.black-border {
     color: var(--black);
     border: 2px solid var(--black);
     padding: 12px 24px;
     text-transform: uppercase;
}

.black-fill {
     background-color: var(--black);
     padding: 12px 24px;
     color: var(--white);

}




.block-title {
     display: inline;
     background-color: var(--black);
     color: var(--white);
     line-height: 150%;
     text-align: center;
     letter-spacing: 0.02em;
     padding: 12px 24px;
     padding-bottom: var(--spacing-xs);
     border-radius: var(--border-radius-md);
}

.cta-left {
     display: flex;
     align-items: center;
     justify-content: flex-end;
     gap: var(--spacing-md);
     /* padding: 50px 0; */
}

.cta-right {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     gap: var(--spacing-md);
     /* padding: 50px 0; */
}

.cta-full {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: var(--spacing-md);
     /* padding: 50px 0; */
}

.cta-full::before {
     content: '';
     display: block;
     background-color: var(--black);
     position: absolute;
     width: 100%;
     height: 100px;
     z-index: -1;
}

.cta-left::before,
.cta-right::before {
     content: '';
     display: block;
     border-radius: var(--border-radius-md);
     background-color: var(--black);
     position: absolute;
     width: 100%;
     height: 100px;
     z-index: -1;
}

.right-line-title::before,
.left-line-title::before {
     display: block;
     content: '';
     border-bottom: 2px solid var(--black);
     position: relative;
     top: 1.35em;
     width: 500%;
     z-index: -1;
}

.link-button {
     font-family: MolotGTRR;
     font-size: var(--font-size-sm);
     color: var(--white);
     border: 2px solid var(--white);
     border-radius: var(--border-radius-lg);
     padding: 12px 24px;
     margin: 0px var(--spacing-md);
     white-space: nowrap;

     font-weight: 400;
     letter-spacing: 2px;
}

.link-arrow {
     gap: var(--spacing-sm);
     margin: 0px var(--spacing-md);
     white-space: nowrap;
     display: inline-flex;
     align-items: center;
     color: var(--white);
     font-size: var(--font-size-sm);
}

.link-arrow::after {
     content: url("assets/Arrow-1.svg");
}

.arrow {
     width: 16px;
     color: var(--black);
     margin: 0 8px;
}

.list-mg {
     margin: 8px 0;
}

/* info-list */
.info-list {
     margin: 16px 0;
}

.info-list h2 {
     vertical-align: middle;
     display: inline;
     background-color: var(--black);
     color: var(--white);
     padding: 12px 24px;
     border-radius: var(--border-radius-md);
     position: relative;
     top: 0.8rem;
     left: 1em;
}

/* lista principal */
.info-list>ul {
     background-color: var(--orange);
     padding: 24px;
     border-radius: var(--border-radius-md);
     list-style-position: inside;
     line-height: 1.5em;
}

.info-list>ul>li::before {
     content: url('../../assets/img/arrow-right-normal.svg');
     position: relative;
     top: 0.3em;
}

/* sub-listas */
.info-list li>ul {
     font-size: var(--font-size-xs);
     padding: 0px 32px;
     list-style-position: inside;
     line-height: 1.5em;
}

.info-list li>ul>li::before {
     content: url('../../assets/img/navbar-active-dot.svg');
     position: relative;
     bottom: 0.2em;
     margin: 0 var(--spacing-sm);
}

/* /info-list */