/* de as regras da main-grid contendo header content e footer  */
#root {
     max-width: 1440px;
     display: grid;
     margin: 0 auto;
     padding: 0 100px;
     grid-template-columns: 1fr;
     grid-template-rows: auto;
     grid-template-areas:
          "header"
          "main"
          "footer";
     place-items: center;
}

.header {
     grid-area: header;
     width: 100%;
} 

.grid {
     grid-area: main;
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: auto;
     place-items: center;
     gap: 2rem;
     width: 100%;
}

.footer {
     grid-area: footer;
     width: 100%;
}
