.grid_inicio {
     grid-template-areas:
          ". . img img img img img img img img . ."
          "cta cta cta cta cta cta cta cta cta cta cta cta"
          ". . . ajuda ajuda ajuda ajuda ajuda ajuda . . ."
          ". . goal goal goal goal goal goal goal . . .";
}

.imagem {
     grid-area: img;
     width: 100%;
}

.call_to_action {
     grid-area: cta;
}

.ajudar {
     grid-area: ajuda;
}

.objetivo {
     grid-area: goal;
}


.imagem img {
     width: 100%;
     min-width: 480px;
     height: auto;
}

.objetivo .outside_links {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: var(--spacing-md);
     margin-top: var(--spacing-md);
}

.button_link {
     border: 2px solid var(--black);
     letter-spacing: 0.02em;
     font-family: var(--fontfamily);
     font-size: var(--font-size-btn);
     border-radius: 12px;
     padding: 15px 39px 15px 42px;
}


.link_button {
     font-family: MolotGTRR;
     font-size: var(--font-size-md);
     color: var(--white);
     border: 2px solid var(--white);
     border-radius: var(--border-radius-lg);
     padding: 15px 40px;
     margin: 0px var(--spacing-md);
     white-space: nowrap;

     font-weight: 400;
     line-height: 1.5rem;
     letter-spacing: 1.68px;
}

.link_arrow {
     margin-right: var(--spacing-md);
     display: inline-flex;
     align-items: center;
     gap: var(--spacing-sm);
     color: var(--white);
     font-size: var(--font-size-md);

     margin: 0px var(--spacing-md);
     white-space: nowrap;
}

.link_arrow::after {
     content: url("../../assets/img/Arrow-1.svg");
}

/* info-list */
div.info_list h2 {
     vertical-align: middle;
     font-size: 31px;
     display: inline;
     background-color: var(--black);
     color: var(--bg);
     padding: var(--spacing-sm);
     position: relative;
     top: 0.8rem;
     left: 1em;
}

/* lista principal */
div.info_list>ul {
     font-size: 16px;
     background-color: var(--orange);
     padding: 13px 35px;
     border-radius: 5px;
     list-style-position: inside;
     line-height: 1.5em;
}

div.info_list>ul>li::before {
     content: url('../../assets/img/arrow-right-normal.svg');
     position: relative;
     top: 0.3em;
}

/* sub-listas */
div.info_list li>ul {
     font-size: 16px;
     padding: 0px 35px;
     list-style-position: inside;
     line-height: 1.5em;
}

div.info_list li>ul>li::before {
     content: url('../../assets/img/navbar-active-dot.svg');
     position: relative;
     bottom: 0.2em;
     margin: 0 var(--spacing-sm);
}



/* erro  */
@media (max-width: 768px) {
     .main-grid {
          grid-template-areas:
               "hd hd hd hd hd hd hd hd hd hd hd hd"
               ". im im im im im im im im im im ."
               "ap ap ap ap ap ap ap ap ap ap ap ap"
               "ca ca ca ca ca ca ca ca ca ca ca ca"
               "aj aj aj aj aj aj aj aj aj aj aj aj"
               "ob ob ob ob ob ob ob ob ob ob ob ."
               "ft ft ft ft ft ft ft ft ft ft ft ft";
     }
}
/* /info-list */
