.grid_faq {
     grid-template-areas:
          ". . tt tt tt tt tt tt tt tt . ."
          ". . faq faq faq faq faq faq faq faq . ."
          ". . . . cta cta cta cta cta cta . .";
}

.title {
     grid-area: tt;
}

.faq {
     grid-area: faq;
     width: 100%;
}

.call_to_action {
     grid-area: cta;
}

.title h1 {
     display: block;
     background-color: var(--black);
     color: var(--white);
     padding: 0 24px;
     text-align: center;
     letter-spacing: 0.02em;
     border-radius: var(--border-radius-sm);
}

.show_text {
     margin: 32px 0;
}

.show_text p {
     padding: 0 8px;
     white-space:pre-line;
}

.toggle_content {
     background-color: var(--black);
     padding: 16px 24px;
     color: var(--white);
     cursor: pointer;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.toggle_content h3 {
     text-transform: uppercase;
     color: var(--white);
}

.toggle_content span {
     font-size: 26px;
     font-weight: 800;
}