.grid_faq {
     grid-template-areas:
          ". tt tt tt tt tt tt tt tt tt tt ."
          ". fq fq fq fq fq fq fq fq fq fq ."
          "cta cta cta cta cta cta cta cta cta cta cta cta";
} 

.title {
     grid-area: tt;
}

.faq { 
     grid-area: fq;
}

.call_to_action {
     grid-area: cta;
     text-align: right;
}


.title h1{
     display: block;
     background-color: var(--black);
     color: var(--white);
     text-align: center;
     letter-spacing: 0.02em;
     border-radius: var(--border-radius-sm);
}

.show_text {
     margin: 32px 0;
}

.show_text h3 {
     text-transform: uppercase;
     color: var(--white);
}

.toggle_content {
     background-color: var(--black);
     padding: 18px 25px;
     border-radius: var(--border-radius-sm);
     color: var(--white);
     cursor: pointer;

     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-flow: row nowrap;
}

.toggle_content span {
     font-size: 26px;
     font-weight: 800;
}
