.grid_faq {
     grid-template-areas:
          "tt tt tt tt tt tt tt tt tt tt tt tt"
          "fq fq fq fq fq fq fq fq fq fq fq fq"
          "cta cta cta cta cta cta cta cta cta cta cta cta";
} 

.title {
     grid-area: tt;
     width: 100%;
}

.faq { 
     grid-area: fq;
     width: 100%;
}

.call_to_action {
     grid-area: cta;
     width: 100%;
     text-align: right;
}




.title h1 {
     font-size: 81px;
}

.show_text {
     margin: 46px 0;
}

.show_text h3 {
     font-family: MolotGTRR;
     text-transform: uppercase;
     color: var(--bg);
}

.toggle_content {
     background-color: var(--black);
     padding: 18px 25px;
     border-radius: 5px;
     color: white;
     font-size: 20px;
     cursor: pointer;

     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-flow: row nowrap;
}

.toggle_content span {
     font-size: 26px;
     font-weight: 800;
}

.show {
     line-height: 150%;
     font-weight: 400;
     padding: 16px 0;
}

.call_to_action .cta_left::before {
     height: 75px;
}