/* .grid {
     grid-template-areas:
          "tt tt tt tt tt tt tt tt tt tt tt tt"
          ". . fq fq fq fq fq fq fq fq . ."
          "ca ca ca ca ca ca ca ca ca ca . .";
}  */
.grid-faq {
     grid-template-areas:
          "tt tt tt tt tt tt tt tt tt tt tt tt"
          ". . fq fq fq fq fq fq fq fq . ."
          "ca ca ca ca ca ca ca ca ca ca . .";
} 

.faq { 
     grid-area: fq;
     width: 100%;
}

.title {
     grid-area: tt;
     width: 100%;
}

.call-to-action {
     grid-area: ca;
     width: 100%;
     text-align: right;
}



.title h1 {
     font-size: 81px;
}

.show-text {
     margin: 46px 0;
}

.show-text h3 {
     font-family: MolotGTRR;
     text-transform: uppercase;
     color: var(--bg);
}

.toggle-content {
     background-color: var(--black);
     padding: 18px 25px;
     border-radius: 5px;
     color: white;
     font-size: 20px;
     cursor: pointer;

     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-flow: row nowrap;
}

.toggle-content span {
     font-size: 26px;
     font-weight: 800;
}

.show {
     display: none;
     line-height: 150%;
     font-weight: 400;
     padding: 16px 0;
}

.call-to-action .cta-left::before {
     height: 75px;
}